body {
	font-family: Arial;
	color: #211a1a;
	font-size: 0.9em;
  }
  
  #shopping-cart {
	margin: 40px;
  }
  
  #grilla-productos {
	margin: 40px;
  }
  
  #shopping-cart table {
	width: 100%;
	background-color: white;
	border-collapse: collapse;
  }
  
  #shopping-cart table td {
	background-color:rgb(165, 148, 148);
	overflow: auto;
	border: 1px solid #000;
	padding: 10px;
  }
  
  #botonVaciar {
	background-color:rgb(165, 148, 148);
	border: white 1px solid;
	padding: 5px 10px;
	color: white;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
  }
  
  .botonAgregarAccion {
	padding: 5px 10px;
	margin-left: 5px;
	background-color: #efefef;
	border: #e0e0e0 1px solid;
	color: #211a1a;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	cursor: pointer;
  }
  
  #product-grid .txt-heading {
	margin-bottom: 18px;
  }
  
  .item-producto {
	padding-top: 10px;
	float: left; 
	background: #332d2d;
	margin: 30px 30px 0px 0px;
	border: #e0e0e0 1px solid;
	justify-content: center;
	align-items: center;
	text-align: center
  }
  
  .product-image {
	height: auto;
	width: 250px;
	background-color: #fff;
  }
  
  .clear-float {
	clear: both;
  }
  
  .demo-input-box {
	border-radius: 2px;
	border: #ccc 1px solid;
	padding: 2px 1px;
  }
  
  .tabla-carrito {
	font-size: 0.9em;
	border-collapse: collapse;
	width: 100%;
  }
  
  .tabla-carrito th,
  .tabla-carrito td {
	border: 1px solid #000;
	padding: 10px;
  }
  
  .tabla-carrito th {
	font-weight: bold;
	background-color: rgb(49, 48, 48);
	color: #fff;
  }
  
  .product-title {
	margin-bottom: 20px;
	text-align: center;
	color: white;
	font-size: 2rem;
	font-family: 'Bebas Neue', sans-serif;
  }
  
  .product-price {
	margin-right: 20px;
	color:  white;
	font-size: 1.5rem;
	padding-bottom: 10px;
	float: left;
  }
  
  .cart-action {
	float: right;
  }
  
  .cantidad-producto {
	padding: 5px 10px;
	border-radius: 3px;
	border: #e0e0e0 1px solid;
  }
  
  .product-tile-footer {
	padding: 15px 15px 0px 15px;
	overflow: auto;
  }
  
  .cart-item-image {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: #e0e0e0 1px solid;
	padding: 5px;
	vertical-align: middle;
	margin-right: 15px;
  }
  
  .no-hay-nada {
	text-align: center;
	clear: both;
	margin: 38px 0px;
  }
  
  .texto {
	margin-left: 20px;
  }
  
  #titulo {
	color: #262626;
	-webkit-text-stroke: 1px #8a7560;
	font-size: 4em;
	font-family: 'Bebas Neue', sans-serif;
	text-align: center;
	justify-content: center;
	text-decoration: underline;
  }
  
  div div footer{
	margin-top: 90px;
  }
  .product-image{
	justify-content: center;
	align-items: center;
	text-align: center;
  }